# ===== Firebase Admin SDK (Service Account) =====
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=



# ===== App secret for signing JWT session tokens =====
JWT_SECRET=584ebad7459efbd8bb55db145783f814cb7fa5b55017a5ce9183bbc5ed8f18b8

# ===== USDA FoodData Central =====
USDA_API_KEY=xCcwyfPFXNEZeefTjJsC9KUd70hjPN0BGwDwnJez
UNSPLASH_ACCESS_KEY=

# ===== Google Gemini (used by langchain-google-genai) =====
GOOGLE_API_KEY=AQ.Ab8RN6IwxhgZwpIxb3MzY-abm0V5QJZlf4OK9YkVcIkKZy2EEg

# ===== Admin panel login =====
ADMIN_USERNAME=veda
ADMIN_PASSWORD=08072002

# ===== Admin panel login =====
ADMIN_USERNAME=veda
ADMIN_PASSWORD=08072002
